<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<nav class="navbar navbar-default" th:fragment="menu">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="/">Veterinária Zandoná</a>
			</div>
			<ul class="nav navbar-nav">
				<li><a href="cadastraAnimal">Cadastrar novo animal</a></li>
				<li><a href="cadastraDono">Cadastrar proprietário</a></li>
				<li><a href="cadastraConsulta">Agendar consulta</a></li>
				<!-- <li><a href="agenda">Agenda</a></li>
				<li><a href="telaDoMedico">Tela do Médico</a></li>
				<li><a href="historicoDeConsultasFinalizadas">Histórico de Consultas</a></li> -->
			</ul>
		</div>
	</nav>